* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 36px;
  letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  letter-spacing: 2px;
}

h3 {
  font-size: 24px;
  letter-spacing: 2px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.calxx-font {
  font-family: 'Quando', 'sans-serif';
}

.row-flex {
  display: inline-flex;
  flex-flow: row wrap;
}

.column-flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.blue-color {
  color: #09c1b3;
}

/*header styling*/
.pre-header {
  display: none;
}

header {
  background: url(../images/header-banner.jpg);
  border-bottom: 5px solid #09c1b3;
  color: white;
  line-height: 1;
  width: 100%;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo-heading {
  display: inline-block;
  width: 20%;
  padding: 20px 10px;
}

.nav-icon {
  float: right;
  font-size: 37.5px;
  padding: 17.5px 12.5px;
}

.nav-icon:hover {
  color: #09c1b3;
  cursor: pointer;
}

.nav-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  clear: both;
  background-color: #525f71;
}

.nav-header ul {
  padding: 0 20px 20px;
}

.navlist-item {
  border-bottom: 2px solid white;
}

.navlist-item:first-child {
  border-top: 2px solid white;
}

.navlist-item:hover {
  background-color: #09c1b3;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.visible {
  max-height: 250px;
}
/*end of header styling*/

/*info box*/
.info-section {
  background: url(../images/header-banner.jpg) center center no-repeat;
  background-size: cover;
  padding: 20% 10% 30%;
  color: white;
}

.info-text {
  text-align: center;
}

.info-text h1 {
  padding: 80px 0 10px;
}

.info-text h3 {
  padding: 10px 0;
}

.infobox {
  border: 2px solid #fff;
  color: #fff;
  padding: 5%;
  margin: 25px auto;
}

.infobox h6 {
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.all-fields-req {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  color: white;
}

.form-textbox {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.form-submit-btn {
  font-size: 18px;
  border: none;
  padding: 3.5% 0;
  font-weight: bold;
  color: white;
  background-color: #09c1b3;
  display: block;
  width: 100%;
  outline: none;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 10px;
}

.form-submit-btn:hover {
  color: #09c1b3;
  background-color: white;
}
/*end of job search section*/

/* featured job section home page */
.featured-job-home-page {
  width: 90%;
  margin: 0 auto;
  padding: 15px 25px;
  position: relative;
  top: -50px;
  background-color: #fff;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.featured-job-heading, .featured-job-heading-home-page {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  margin-bottom: 20px;
}

.featured-job-heading-home-page {
  color: #525f71;
}

.featured-job {
  padding: 7.5px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
  border-bottom: 3px solid #09c1b3;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}
/* end of featured job section home page */

/* featured jobs - other pages */
.featured-job-container {
  margin-top: 90px;
  padding: 25px 25px 50px;
  background-color: #525f71;
}

.featured-job-heading-span {
  color: #09c1b3;
}

.featured-jobs-link {
  text-decoration: none;
  color: #11223e;
}

.featured-job:hover {
  border: 2px solid #fff;
}

.featured-job-title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.5px;
}

.featured-job-info {
  font-size: 12px;
}

.featured-job-map-marker {
  color: #495770;
  margin-bottom: 3px;
}
/* end of featured job other pages section */

/* companies we have partnered with */
.partnerships {
  padding: 15% 5%;
  color: white;
  text-align: center;
}

.company-partners {
  margin-top: 30px;
}

.company-partners-logo {
  margin: 35px auto 0;
}
/* end of companies we have partnered with */

/*services section*/
.services-section {
  background: url(../images/header-banner-minusguy.png) center center no-repeat;
  background-size: cover;
}

.services-section-key-heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}

.services-section-links {
  text-decoration: none;
  color: #fff;
}

.icons {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  margin: 0 auto;
}


.icons:hover {
  color: #09c1b3;
  border-color: #09c1b3;
}

.icons-blue {
  border-color: #09c1b3;
  color: #09c1b3;
}

.icons-blue:hover {
  color: #fff;
  border-color: #fff;
}

.services-section-heading {
  width: 45%;
  margin: 10px auto 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.heading-blue {
  color: #09c1b3;
}

.services-layout-h2 {
  letter-spacing: 1px;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #757575;
  text-align: center;
}

.heading-separator {
  width: 60px;
  padding: 1px;
  background: #757575;
  margin: 20px auto 35px;
}

.adj {
  background-color: #fff;
}

.services-layout a, .combination-layout a {
  text-decoration: none;
}

/*The blog section*/
.blog-section {
  padding: 15% 5%;
}

.the-blog {
  padding: 0 7.5%;
}

.blog-date {
  color: #a7a8b6;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 10px;
}

.blog-tags {
  color: #64a7fe;
  padding-top: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.blog-wrapper-home-page {
  text-decoration: none;
  background-color: #f5f5f5;
  margin-bottom: 30px;
  color: black;
  border: 5px solid #f5f5f5;
  border-radius: 5px;
  text-align: left;
}

.blog-wrapper-home-page:hover {
  border: 5px solid #09c1b3;
  background-color: #525f71;
  transform: scale(1.05);
  color: #fff;
  opacity: none;
}

.blog-wrapper-home-page-two {
  padding: 0px 5px 5px;
}

.blog-snippet-heading {
  padding: 5px 0 10px;
  letter-spacing: 0;
  /* text-transform: uppercase; */
  line-height: normal;
  opacity: 0.8;
}

.blog-snippet-heading-home-page {
  font-size: 16px;
}

.blog-text {
  padding-bottom: 10px;
  color: #272c2f;
  font-size: 14.5px;
}

.read-more-link {
  text-decoration: none;
  color: #09c1b3;
  font-weight: bold;
  font-size: 13px;
}

.read-more-link:hover {
  color: #272c2f;
}
/*end of the blog section*/

/*footer*/
.pre-footer-container {
  /* background-color: #44494b; */
  background-color: #525f71;
  text-align: center;
  color: #fff;
}

footer {
  /* background-color: #272c2f; */
  /* background-color: #3f4547; */
  background-color: #525f71;
  border-top: 0.25px solid #999;
  padding: 15px 0;
  text-align: center;
  color: #999;
}

.footer-container {
  padding: 50px 20px;
}

.about-us-div, .social-media-div {
  margin-bottom: 50px;
}

.footer-heading {
  font-family:'Montserrat';
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #09c1b3;
}

.about-us-p {
  font-size: 14px;
}

.social-media-div li {
  display: inline-block;
}

.social-media {
  color: #fff;
}

.social-media i {
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  text-decoration: none;
}

.social-media i:hover {
  background-color: #09c1b3;
  color: white;
  cursor: pointer;
  border: none;
}

.footer-newsletter-input-form {
  width: 200px;
  /* background-color: #3f4547; */
  background-color: #fff;
  padding: 10px 15px;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  border: none;
  margin: 10px auto 0;
}

.footer-newsletter-btn {
  border: none;
  padding: 9.5px 0 8.5px;
  background-color: #09c1b3;
  /* opacity: 0.3; */
  color: white;
  width: 40px;
  display: inline-block;
  /* margin-left: -10px; */
}

.footer-newsletter-btn:hover {
  background-color: #09c1b3;
  opacity: 1;
}

footer nav {
  font-size: 12px;
}

footer ul {
  padding: 0 5px;
}

footer nav li {
  display: inline-block;
  margin-bottom: 2.5px;
}

footer nav li a {
  text-decoration: none;
  padding: 0 5px;
  color: #999;
}

footer nav li a:hover {
  color: #09c1b3;
}

.copyright-footer {
  font-size: 14px;
  color: #09c1b3;
}
/*end of footer styling*/

/*Cookies pop up styling*/
.cookies-popup-section {
  border-top: 1px solid #999;
  background-color: #272c2f;
  text-align: center;
  padding: 15px 10px;
  color: #999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.cookies-link {
  margin-left: 2.5px;
  text-decoration: none;
  color: #09c1b3;
}

.cookies-link:hover {
  color: #999;
}

.close-cookies-popup {
  background-color: #09c1b3;
  border: none;
  padding: 5px 15px;
  color: #fff;
  margin: 10px auto 0;
}

.close-cookies-popup:hover {
  background-color: #999;
}
/*End of cookies pop up styling*/

/*blog post page styling*/
.post-header-section, .post-header-section-job-alerts, .post-header-section-2 {
  background: url(../images/header-banner-minusguy.png) center center no-repeat;
  background-size: cover;
  padding: 25%;
  color: white;
  text-align: center;
}

.main-container {
  width: 90%;
  margin: 25px auto 90px;
}

.container-one {
  margin-bottom: 40px;
}

.blog-article-heading {
  margin-bottom: 1.5rem;
}

.share-buttons-section {
  margin-bottom: 25px;
}

.share-buttons-inline {
  display: inline-block;
  margin-right: 5px;
}

.share-buttons-inline a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 2.5px 10px;
  border-radius: 2px;
}

.facebook-share {
  background-color: #3a579a;
}

.twitter-share-button {
  background-color: #00abf0;
}

.linked-in-share {
  background-color: #127bb6;
}

.facebook-share:hover, .twitter-share-button:hover, .linked-in-share:hover, .shortcut-apply:hover {
  background-color: #525f71;
}

.blog-content img, .blog-content p {
  margin-bottom: 35px;
}

.blog-aside {
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 3px solid #09c1b3;
  /* border-top: 1px solid #d5d7d8;
  border-bottom: 1px solid #d5d7d8; */
}

.blog-aside-section1 {
  padding: 10px 25px;
  font-size: 14px;
}

.services-icon {
  background-color: #09c1b3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 12.5px;
  line-height: 24px;
  color: white;
  text-align: center;
  display: inline-block;
}

.services-icon:hover {
  background-color: #023d60;
}

.italics {
  font-style: italic;
}

.blog-aside-div {
  margin: 15px 0 15px 15px;
}

.blog-aside p {
  display: inline-block;
  margin: 5px 0 5px 15px;
}

.para-after-aside {
  margin-top: 35px;
}

ol {
  margin-bottom: 25px;
}

.blog-conclusion {
  border-top: 1px solid #d5d7d8;
  border-bottom: 1px solid #d5d7d8;
  padding: 35px 25px;
}

.blog-conclusion p {
  font-size: 14px;
  line-height: inherit;
}

.bold-para {
  font-weight: bold;
}

.blog-conclusion a {
  text-decoration: none;
  color: #09c1b3;
}

.blog-conclusion a:hover {
  color: #575f71;
}

.container-two {
  margin-top: 50px;
}

.container-two-aside {
  margin-bottom: 50px;
}

.blog-signup {
  color: #272c2f;
  border: 1px solid #d5d7d8;
  padding: 7.5%;
  background-color: #F9F9F9;
  margin-bottom: 20px;
}

.blog-signup h3 {
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}

.newsletter-signup {
  width: 225px;
  margin: 0 auto;
}

.newsletter-input-form {
  width: 185px;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
}

.newsletter-btn {
  border: none;
  padding: 8px 0 10px;
  background-color: #09c1b3;
  color: white;
  width: 40px;
  display: inline-block;
  margin-left: -10px;
}

.newsletter-btn:hover {
  background-color: #525f71;
}

.related-articles-h4 {
  color: #272c2f;
  border-bottom: 1px solid #757575;
  padding-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.related-articles {
  margin-top: 35px;
  padding: 30px;
  background-color: #f5f5f5;
}

.article-tagline {
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px 0 5px;
  color: #64a7fe;
}

.related-articles-para {
  font-size: 14px;
  padding: 5px 0;
}

.contact-us-container {
  width: 90%;
  margin: 100px auto;
  text-align: center;
}

.contact-us-h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contact-us-btn {
  padding: 10px 25px;
  margin-top: 25px;
  background-color: #fff;
  border: 2px solid #09c1b3;
  color: #09c1b3;
  font-weight: 600;
  border-radius: 2px;
}

.contact-us-btn:hover {
  background-color: #11223e;
  color: #fff;
}

/*end of blog post styling*/

/*our blog page styling*/
.blog-header-section {
  background: url(../images/our-blog-header.png) center center no-repeat;
  background-size: cover;
  padding: 40% 25%;
  color: white;
  text-align: center;
}

.main-container-blog {
  width: 90%;
  margin: 50px auto;
}

.separator {
  margin-left: 0;
  margin-right: 0;
}

.blog-categories {
  margin-top: 50px;
  border-bottom: 1px solid #d5d7d8;
}

.blog-categories h2 {
  color: #525f71;
}

.blog-categories-para {
  font-size: 17px;
}

.blog-wrapper {
  background-color: #F5F5F5;
  padding: 30px;
  width: 100%;
  margin: 20px 0 35px;
}

.blog-read-more-link {
  text-decoration: none;
  color: #09c1b3;
  font-weight: bold;
}

.blog-read-more-link:hover {
  color: #525f71;
}
/*end of our blog page styling*/

/*privacy policy and terms and conditions styling*/
.privacy-policy h3, .privacy-policy p {
  padding: 20px 0;
}

.pptc-heading {
  margin: 50px 0 25px;
}

.terms-line-items li {
  list-style: circle;
  margin-left: 25px;
}

.terms-line-items {
  padding-bottom: 20px;
}
/*end of privacy policy and t&c's styling*/

/*Role page styling*/
.job-alerts {
  width: 200px;
  padding: 7.5px 10px 7.5px 0;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.job-alerts:hover {
  color: #09c1b3;
  border-color: #09c1b3;
}

.job-alerts span {
  border-right: none;
  padding: 12px 10px 18px 6px;
}

.job-alerts p {
  display: inline-block;
  margin-left: 10px;
}

.job-alert-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.job-alert-section-visible {
  max-height: 500px;
}

.job-alert-input {
  width: 260px;
  margin: 10px auto 0;
  background-color: #323D4F;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  display: block;
  border-bottom: 1px solid #768A9D;
}

.job-alert-btn {
  width: 260px;
  background-color: #323D4F;
  padding: 10px;
  border: none;
  margin: 10px auto 25px;
  color: white;
  display: block;
}

.job-alert-btn:hover {
  background-color: white;
  color: #272c2f;
}

.back-to-search-page {
  margin: 15px 0 0 15px;
  color: #09c1b3;
}

.back-to-search-page a {
  text-decoration: none;
}

.back-to-search-page a:hover {
  color: #525f71;
}

.role-container {
  width: 87.5%;
  margin: 0px auto 50px;
}

.company-info-sub {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 20px;
  padding: 10px 7.5px 20px;
}

.company-img {
  display: inline-block;
  vertical-align: top;
  width: 27.5%;
  margin-top: 10px;
}

.company-img-rec-logo {
  width: 70%;
}

.company-details-role-page {
  display: inline-block;
  width: 66%;
  margin-left: 10px;
}

.location-marker {
  color: #09c1b3;
}

.location-para-role-page {
  display: inline-block;
  font-size: 13px;
  margin-left: 3.25px;
}

.company-info-about {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.company-info-sub-two {
  padding: 10px 20px 0;
}

.company-info-heading {
  margin-bottom: 7.5px;
}

.company-info-para {
  font-size: 14px;
  margin-bottom: 15px;
}

.social-media-section {
  background-color: #F5F5F5;
}

.company-social-media-links-ul {
  text-align: center;
  padding: 5px 0;
}

.company-social-media-links {
  display: inline-block;
  width: 15%;
  margin-right: 5px;
}

.social-media-role {
  color: #09c1b3;
}

.social-media-role i {
  width: 35px;
  height: 35px;
  line-height: 33px;
  margin-right: 10px;
  text-decoration: none;
}

.social-media-role i:hover {
  background-color: #525f71;
  cursor: pointer;
  border: none;
}

.share-buttons-section-one {
  float: left;
}

.share-buttons-section-two {
  float: right;
}

.shortcut-apply {
  text-align: center;
  background-color: #09c1b3;
}

.shortcut-apply i {
  padding-right: 2.5px;
}

.button-text {
  display: inline-block;
  border-left: 1px solid #fff;
  padding-left: 5px;
}

.role-information {
  margin-top: 40px;
}

.overview-section {
  background-color: #f5f5f5;
  margin-bottom: 40px;
  padding: 10px;
}

.key-req-li-container {
  margin-left: 10px;
}

.key-requirements-li {
  padding: 10px 0;
}

.key-requirements-li i {
  background-color: #d3dcdf;
  color: #fff;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
}

.key-requirements-text {
  vertical-align: middle;
  display: inline-block;
  width: 75%;
  font-size: 14px;
  margin-left: 10px;
}

.key-requirements {
  margin-bottom: 40px;
}

.role-descrip {
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.key-requirements h5, .role-descrip h5, .location h5, .overview-section h5 {
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.font-awesome-icon {
  color: #09c1b3;
  margin-right: 10px;
  vertical-align: middle;
}

.list-items-para {
  display: inline-block;
  width: 80%;
  margin-left: 3.25px;
  vertical-align: top;
}

.margin-adj {
  margin-top: 15px;
}

.terms-line-items-adj {
  padding-bottom: 0;
}

.location {
  margin-bottom: 40px;
}

#map {
  width: 100%;
  height: 250px;
}

.application-section {
  margin: 50px 0;
}

.close-job-alerts {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.apply-now {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  width: 100%;
  margin-bottom: 100px;
}

.apply-now-heading {
  text-align: center;
  background-color: #09c1b3;
  padding: 25px;
  color: white;
}

.application-form {
  padding: 20px 25px 25px;
}

.apply-input-form {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.text-style {
  font-size: 12px;
}

fieldset {
  margin-bottom: 10px;
}

.apply-now-para {
  padding: 10px 0;
  font-size: 14px;
}

textarea {
  min-height: 150px;
  width: 100%;
  margin-bottom: 5px;
}

.select-box-application {
  width: 60%;
  padding: 5px;
}

.terms {
  margin: 25px 0;
  text-align: center;
  font-size: 14px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.button-fieldset {
  margin-bottom: 0;
}

.holding-block {
  float: left;
  height: 20px;
}

.apply-now-button {
  padding: 7.5px 35px;
  background-color: #09c1b3;
  color: #fff;
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 2px;
}

.apply-now-button:hover {
  background-color: #525f71;
}

.error {
  display: block;
  color: #09c1b3;
  font-size: 12px;
  margin-top: 5px;
  clear: both;
}

.success-header {
  text-align: center;
  color: #09c1b3;
  font-size: 36px;
  margin: 50px 0;
}

.success {
  text-align: center;
  padding: 20px 20px 0;
  color: #09c1b3;
}

.similar-job-container {
  background-color: #f5f5f5;
  margin-top: 0;
}

.similar-job-heading {
  color: black;
}
/*end of role page styling*/

/*search page styling*/
.post-header-section-2 {
  padding: 20% 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: grey;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;
  display: none;
}

.popup {
  position: relative;
  cursor: pointer;
}

.popup-text {
  visibility: hidden;
  width: 300px;
  background-color: #09c1b3;
  text-align: center;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-text h4 {
  margin-top: 20px;
  color: white;
}

.show {
  visibility: visible;
  animation: fadeIn 1s;
}

.links {
  margin-top: 10px;
}

.search-page-container {
  margin: 10px 0 200px;
}

.search-criteria-para {
  width: 80%;
  margin: 20px auto 0;
}

.role-container-search-page {
  width: 85%;
  margin: 50px auto;
}

.job-card {
  text-decoration: none;
  display: block;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  margin-bottom: 35px;
  width: 100%;
  color: inherit;
}

.key-info-container {
  margin: 0 20px;
  /* border-bottom: 1px solid grey; */
  padding: 10px 0;
}

.company-logo-rec {
  max-height: 150px;
  max-width: 175px;
}

.company-logo-square {
  height: 60px;
  width: 60px;
}

.company-details {
  margin-top: 7.5px;
}

.job-title-search {
  font-size: 18px;
  padding-bottom: 5px;
}

.company-title-search {
  font-size: 14px;
  color: grey;
}

.heading-separator-2 {
  width: 60px;
  padding: 1px;
  background: #757575;
  margin-left: 20px;
}

.key-requirements-container {
  padding: 10px 20px 15px;
  font-size: 15px;
  color: #525f71;
  margin-bottom: 10px;
}

.location-marker-search {
  width: 10%;
  display: inline-block;
  text-align: center;
}

.location-para {
  display: inline-block;
  width: 80%;
  margin-left: 3.25px;
  font-size: 13px;
}
/*end of search page styling*/

/*job alerts page styling*/
.post-header-section-job-alerts {
  padding: 20% 10%;
}

.combination-layout, .how-it-works-layout {
  margin: 90px auto;
  width: 80%;
  text-align: center;
}

.job-alerts-why-use-us {
  margin-bottom: 50px;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 50px;
}

.why-use-us-h3 {
  color: #757575;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}

.read-more-button {
  background-color:#09c1b3;
  text-decoration:none;
  padding:10px 20px;
  display:block;
  width:165px;
  margin:20px auto 25px;
  color:#fff;
  font-family:'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.read-more-button:hover {
  background-color: #11223e;
}

.job-alerts-article {
  text-align: left;
}

.second-column {
  margin-top: 50px;
}
/*end of job alerts page styling*/

/*Blank search page*/
.home-page {
  margin-left: 10px;
  text-decoration: none;
  color: #09c1b3;
  font-size: 20px;
}

.home-page:hover {
  color: #525f71;
}

.no-jobs-page {
  padding: 25% 15% 50%;
}

.no-jobs-page h2 {
  text-align: center;
}

.job-alerts-signup-2 {
  color: #09c1b3;
  border-color: #09c1b3;
}

/*end of blank search page styling*/

/*unsubscribe page styling*/
.unsubscribe-page-styling {
  width: 70%;
  margin: 25px auto;
}

.unsubscribe-para {
  margin: 15px 0;
}

.unsubscribe-btn {
  width: 100%;
}

.unsubscribe-btn:hover {
  background-color: #09c1b3;
  color: white;
}

.unsubscribe-image, .unsubscribe-text {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.unsubscribe-text {
  width: 65%;
  margin-left: 10px;
}

.calxx-description, .poll-form {
  margin-top: 50px;
}

.poll-selection {
  width: 100%;
  padding: 5px;
}
/*end of unsubscribe page styling*/

/*404 error page styling*/
.error404-section {
  margin: 80px auto 120px;
  width: 80%;
  text-align: center;
}

.error404 {
  font-size: 150px;
  color: #09c1b3;
}

.error404-link {
  margin: 40px 0;
  display: block;
  text-decoration: none;
  color: #09c1b3;
}
/*end of 404 error page styling*/

/* how it works candidtes page styling */
.how-it-works-layout {
  width: 90%;
}
/* end of how it works page styling */

@media (min-width: 480px) { /* mobile-landscape */
  main {
    margin: 0 auto;
  }

  .info-section, .post-header-section-job-alerts {
    padding: 15% 10% 25%;
  }

  .infobox {
    width: 80%;
  }

  .info-text h1 {
    padding-top: 40px;
  }

  .featured-job-container {
    padding: 25px 0 10px 15px;
  }

  .featured-job-home-page {
    padding: 15px 0px 0 15px;
  }

  .featured-job {
    width: 46%;
    margin-right: 15px;
  }

  .blog-section {
    padding: 15%;
  }

  .the-blog {
    padding: 0 12.5%;
  }

  /*our blog page styling*/
  .blog-header-section {
    padding: 27.5% 10%;
  }

  .main-container-blog, .main-container {
    width: 80%;
  }
  /*end of our blog page styling*/

  /* blog post page styling */
  .post-header-section {
    padding: 20%;
  }

  .container-two-aside {
    width: 80%;
  }

  .related-articles {
    width: 80%;
  }
  /* end of blog post page styling */

  /*role page styling*/
  .role-container {
    width: 85%;
  }

  .company-details-role-page {
    margin-left: 20px;
  }

  .company-social-media-links {
    margin-right: 0;
  }

  .shortcut-apply i {
    padding-right: 5px;
  }

  .button-text {
    padding-left: 10px;
  }

  .key-requirements-li {
    display: inline-block;
    width: 47.55%;
    margin-left: 5px;
  }

  .key-requirements-text {
    width: 70%;
  }

  .application-form {
    padding: 20px 35px 25px;
  }
  /*end of role page styling*/

  /*search page styling*/
  .post-header-section-2 {
    padding: 10% 0;
  }

  .role-container-search-page {
    width: 60%;
  }
  /*end of search page stling*/

  /* how it works page stlying */
  .how-it-works-layout {
    width: 80%;
  }
  /* end of how it works page styling */

  /*unsubscribe page styling*/
  .unsubscribe-page-styling {
    width: 50%;
  }
  /*end of unsubscribe page styling*/
}

@media (min-width: 650px) { /* tablet-portrait */
  .pre-header {
    display: block;
    background-color: #525f71;
    color: #fff;
    font-size: 14px;
  }

  .pre-header-left {
    float: left;
    margin-left: 10%;
  }

  .pre-header-right {
    float: right;
    margin-right: 10%;
  }

  .pre-header-icons {
    padding: 10px;
    border-right: 1px solid #999;
  }

  header {
    background: none;
    border-bottom: none;
  }

  .logo-heading {
    color: #525f71;
  }

  .nav-icon {
    display: none;
  }

  .nav-header {
    max-height: none;
    float: right;
    clear: none;
    padding: 20px 10px 7.5px;
    text-transform: uppercase;
    font-size: 15px;
    background: inherit;
    color: #525f71;
    font-weight: bold;
  }

  .nav-header ul {
    padding: 0;
  }

  .navlist-item {
    display: inline-block;
  }

  .navlist-item, .navlist-item:first-child {
    border: none;
  }

  .navlist-item:hover {
    background-color: inherit;
  }

  .nav-link {
    color: inherit;
    padding: 10px 5px;
  }

  .nav-link:hover {
    color: #09c1b3;
  }

  .info-section {
    padding: 10% 10% 20%;
  }

  .infobox {
    width: 100%;
    padding: 3% 1%;
  }

  .infobox h6 {
    margin-bottom: 0;
  }

  .form-textbox {
    margin-bottom: 0;
  }

  .form-align-dropdown-box {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin-left: 7.5px;
  }

  .form-submit-btn {
    width: 47%;
    display: inline-block;
    padding: 17.5px 0px;
    margin: 0 7.5px 0;
    vertical-align: top;
  }

  .featured-job {
    margin-right: 22.5px;
  }

  .featured-job-adj {
    width: 45%;
  }

  .blog-section {
    padding: 15% 0;
    width: 85%;
    margin: 0 auto;

  }

  .the-blog {
    padding: 5% 0;
  }

  .blog-wrapper-home-page {
    display: inline-block;
    width: 45%;
    margin-left: 25px;
  }

  /*our blog page styling*/
  .blog-header-section {
    padding: 20%;
  }

  .main-container-blog {
    width: 70%;
  }

  .blog-signup {
    padding: 5% 7.5%;
  }

  .form-style {
    margin: 0 auto;
    width: 80%;
  }

  .newsletter-signup {
    width: 300px;
  }

  .newsletter-input-form {
    width: 200px;
  }
  /*our blog page styling*/

  /*blog post styling*/
  .post-header-section {
    padding: 15%;
  }

  .main-container {
    width: 75%;
  }

  .blog-aside-row {
    display: inline-block;
    width: 45%;
  }

  .services-icon {
    width: 35px;
    height: 35px;
    font-size: 17.5px;
    line-height: 34px;
  }

  .blog-aside p {
    margin: 5px 0 20px 7.5px;
  }

  .blog-aside-div {
    margin-bottom: 0px;
  }

  .container-two-aside {
    width: 62.5%;
  }

  .related-articles {
    width: 100%;
  }

  .related-articles img {
    width: 47.5%;
    display: inline-block;
  }

  .related-articles div {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
  }

  .article-tagline {
    padding-top: 0;
  }
  /*end of blog post styling*/

  /*role page styling*/
  .company-img-rec-logo {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }

  .company-details-role-page-rec-logo {
    display: inline-block;
    width: 60%;
    margin-left: 35px;
  }

  .company-details-role-page {
    margin-left: 30px;
  }

  .company-social-media-links {
    margin-right: 7.5px;
  }

  .application-section {
    width: 80%;
  }

  .application-form {
    padding: 25px 50px 40px;
  }
  /*end of role page styling*/

  /*search page syling*/
  .post-header-section-2 {
    padding: 7.5% 0 15%;
  }

  .job-alerts {
    float: right;
    margin-right: 20px;
    margin-top: 0;
  }

  .role-container-search-page {
    width: 90%;
  }

  .job-card {
    width: 45%;
    margin: 0 13.5px 35px;
    display: flex;
  }

  .flex-item1 {
    flex: 2 1 175px;
  }

  .flex-item2 {
    flex: 1 1 100px;
  }
  /*end of serach page styling*/

  /*job alerts page styling*/
  .post-header-section-job-alerts {
    padding: 10%;
  }

  .job-alerts-page-box {
    width: 100%;
  }

  .left-align-box, .right-align-box {
    width: 45%;
    display: inline-block;
    margin: 0 10px 15px 0;
  }

  .job-alert-button {
    padding: 10px 0;
    margin-bottom: 10px;
  }

  .combination-layout {
    width: 60%;
  }
  /*end of job alerts page styling*/

  /* how it works page styling */
  .how-it-works-div-text {
    width: 60%;
    margin-left: 75px;
  }
  /* end of how it works page styling */
}

@media (min-width: 940px) { /* tablet-landscape/smaller laptops */
  .logo-heading {
    margin-left: 50px;
  }

  .nav-header {
    margin-right: 50px;
    /* font-size: 18px; */
  }

  .nav-link {
    padding: 10px;
  }

  .info-section {
    padding: 7.5% 15% 12.5%;
  }

  .info-text h1 {
    padding-top: 20px;
  }

  .featured-job-home-page {
    padding: 25px 25px 0;
  }

  .featured-job-heading, .featured-job-heading-home-page {
    float: left;
    max-width: 80px;
  }

  .featured-job-list-container {
    float: right;
    width: 85%;
  }

  .featured-job {
    width: 30%;
  }

  .featured-job-adj {
    width: 45%;
  }

  .company-partners-logo {
    display: inline-block;
    margin: 0 50px 0px 0;
    vertical-align: top;
  }

  .partnerships {
    padding: 5% 0;
  }

  .services-icon-div {
    display: inline-block;
    width: 12%;
    vertical-align: top;
  }

  .services-section-heading {
    width: 75%;
  }

  .blog-section {
    width: 100%;
  }

  .the-blog {
    padding: 0;
  }

  .blog-wrapper-home-page {
    width: 16%;
    margin-left: 5px;
  }

  .blog-wrapper-home-page:first-child {
    margin-left: 0;
  }

  .flex-item {
    flex: 1 1 auto;
  }

  .flex-items {
    flex: 2 1 100px;
  }

  .footer-container {
    padding: 50px 0;
  }

  .footer-sub-container {
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }

  .social-media i {
    font-size: 20px;
  }

  /*our blog page styling*/
  .main-container-blog {
    width: 90%;
    margin: 50px auto 90px;
  }

  .blog-header-row {
    display: inline-block;
  }

  .container-two {
    float: right;
  }

  .blog-header-section {
    padding: 12.5%;
  }

  .blog-categories:last-child {
    margin-bottom: 90px;
  }

  .blog-wrapper {
    width: 31%;
    margin-right: 17.5px;
  }

  .form-style {
    width: 100%;
  }

  .newsletter-signup {
    width: 200px;
  }

  .newsletter-input-form {
    width: 160px;
  }

  .newsletter-btn {
    padding-bottom: 10px;
  }
  /*end of our blog page styling*/

  /*blog post styling*/
  .post-header-section {
    padding: 10%;
  }

  .main-container {
    width: 90%;
    margin-top: 50px;
  }

  .container-one, .container-two {
    width: 60%;
    display: inline-block;
    vertical-align: top;
  }

  .container-two {
    margin-top: 0;
  }

  .blog-conclusion {
    margin-bottom: 0;
  }

  .container-two {
    width: 27.5%;
    margin-left: 60px;
  }

  .container-two-aside {
    width: 100%;
    margin-top: 0;
  }

  .blog-article-heading {
    margin-top: 0;
  }

  .related-articles-wrapper {
    margin-top: 20px;
  }

  .related-articles img, .related-articles div {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .article-tagline {
    padding-top: 10px;
  }
  /*end of blog post styling*/

  /*role page styling*/
  .job-alerts {
    margin-right: 30px;
  }

  .role-container {
    width: 92.5%;
    margin-top: 40px;
  }

  .company-info-sub {
    padding-left: 30px;
  }

  .company-img {
    width: 15%;
  }

  .company-details-role-page {
    margin-left: 40px;
  }

  .role-information {
    margin-top: 0;
  }

  .company-info, .role-information {
    display: inline-block;
    vertical-align: top;
    width: 64%;
  }

  .company-info {
    width: 30%;
    margin-right: 40px;
  }

  .application-section {
    margin: 50px 0 75px;
  }

  .application-form {
    padding: 25px 60px 40px;
  }

  .adj-940px, .adj-940px-2 {
    display: inline-block;
    width: 47.5%;
  }

  .adj-940px-2 {
    margin-left: 12.5px;
  }
  /*end of role page styling*/

  /*search page styling*/
  .search-criteria-para {
    width: 87%;
  }

  .job-card {
    width: 30%;
  }
  /*end of search page styling*/

  /*job alerts page styling*/
  .post-header-section-job-alerts {
    padding: 10% 10% 7.5%;
  }

  .left-align-box, .right-align-box {
    width: 18.25%;
  }

  .job-alert-button {
    width: 17.5%;
    padding: 5.75px 0;
    margin-left: 0;
  }

  .all-fields-req {
    padding: 0 75px;
  }

  .combination-layout {
    width: 90%;
  }

  .first-column, .second-column {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
  }

  .second-column {
    margin: 0 0 0 75px;
  }

  .job-alerts-why-use-us {
    display: block;
    width: 100%;
    border-right: none;
  }

  .border-addon-job-alerts {
    border-bottom: 2px solid #f5f5f5;
  }

  .job-alerts-article {
    width: 100%;
  }
  /*end of job alerts page styling*/

  /*Blank search page*/
  .home-page {
    margin-left: 30px;
  }

  .no-jobs-page {
    padding: 15% 15% 25%;
  }
  /*End of blank page styling*/

  /*unsubscribe page styling*/
  .unsubscribe-page-styling {
    width: 30%;
  }
  /*end of unsubscribe page styling*/

  /* how it works page styling */
  .how-it-works-layout {
    width: 70%;
  }
  /* end of how it works page styling */
}

@media (min-width: 1220px) { /* laptops/desktops */
  header h1 {
    margin-left: 25px;
  }

  .nav-header {
    margin-right: 25px;
  }

  .infobox {
    width: 55%;
    padding: 1%;
  }

  .info-section {
    padding: 7.5% 15% 10%;
  }

  .featured-job {
    width: 23.5%;
    margin-right: 15px;
  }

  .featured-job-adj {
    width: 22.5%;
  }

  .services-section-heading {
    width: 55%;
  }

  .blog-wrapper-home-page {
    margin-left: 10px;
  }

  .flex-items {
    flex: 2 1 50px;
  }

  /*our blog page styling*/
  .main-container, .main-container-blog {
    width: 80%;
  }

  .container-two {
    width: 27.5%;
    margin-left: 50px;
  }

  .blog-header-section {
    padding: 10% 5%;
  }

  .newsletter-signup {
    width: 235px;
  }

  .newsletter-input-form {
    width: 200px;
  }
  /*end of blog page styling*/

  /*blog post page styling*/
  .post-header-section {
    padding: 8%;
  }
  /* end of blog post styling */

  /*role page styling*/
  .role-container {
    width: 80%;
  }

  .company-img-rec-logo {
    width: 20%;
  }

  .company-info {
    margin-right: 65px;
  }

  .company-social-media-links {
    margin-right: 0;
  }

  .role-information {
    width: 55%;
  }
  /*end of role page styling*/

  /*search page styling*/
  .post-header-section-2 {
    padding: 5% 0 10%;
  }

  .job-alerts {
    margin-right: 45px;
  }

  .job-card {
    width: 20%;
    margin: 0 20px 35px;
  }
  /*end of search page styling*/

  /*job alerts page styling*/
  .job-alerts-infobox {
    width: 100%;
  }

  .left-align-box, .right-align-box {
    width: 20%;
  }

  .job-alert-button {
    width: 12.5%;
  }

  .first-column, .second-column {
    width: 30%;
  }

  .second-column {
    margin-left: 175px;
  }

  .combination-layout {
    width: 100%;
  }
  /*end of job alerts page styling*/

  /*Blank search page*/
  .no-jobs-page {
    padding: 10% 15% 15%;
  }
  /*End of blank page styling*/

  /*unsubscribe page styling*/
  .unsubscribe-page-styling {
    width: 20%;
  }
  /*end of unsubscribe page styling*/

  /*how it works page styling */
  .how-it-works-layout {
    width: 65%;
  }
  /*end of how it works page styling */
}

@media (min-width: 1600px) { /* laptops/desktops */
  header h1 {
    margin-left: 40px;
  }

  .nav-header {
    margin-right: 50px;
    padding-top: 25px;
    font-size: 20px;
  }

  .info-section {
    padding: 10% 10% 5%;
  }

  .blog-align {
    width: 25%;
    margin-right: 35px;
    margin-left: 75px;
  }

  /*our blog page styling*/
  .main-container, .main-container-blog {
    width: 70%;
  }

  .container-one {
    width: 50%;
  }

  .container-two {
    width: 25%;
    margin-left: 150px;
  }

  .blog-header-section {
    padding: 12.5% 5%;
  }
  /*end of our blog page styling*/

  /*blog post page styling*/
  .post-header-section {
    padding: 7.5%;
  }

  .related-articles img {
    width: 65%;
  }
  /* end of blog post page styling */

  /*role page styling*/
  .role-container {
    width: 65%;
  }
  /*end of role page styling*/

  /*job alerts page styling*/
  .post-header-section-job-alerts {
    padding: 7.5% 15% 5%;
  }

  .combination-layout {
    width: 90%;
  }
  /*end of job alerts page styling*/

  /*unsubscribe page styling*/
  .unsubscribe-page-styling {
    width: 10%;
  }
  /*end of unsubscribe page styling*/

  /*how it works page styling */
  .how-it-works-layout {
    width: 60%;
  }
  /*end of how it works page styling */
}
