* {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 36px;
  letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  letter-spacing: 2px;
}

h3 {
  font-size: 24px;
  letter-spacing: 2px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.row-flex {
  display: inline-flex;
  flex-flow: row wrap;
}

.column-flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

/*header styling*/
header {
  background: url(../images/header-banner.jpg);
  border-bottom: 5px solid #09c1b3;
  color: white;
  line-height: 1;
  /*position: absolute;*/
  width: 100%;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.nav-icon {
  float: right;
  font-size: 37.5px;
  padding: 17.5px 12.5px;
}

.nav-icon:hover {
  color: #09c1b3;
  cursor: pointer;
}

.logo-header {
  float: left;
  display: inline-block;
  width: 125px;
  padding: 7.5px 0 0 15px;
}

.nav-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  clear: both;
  background-color: #525f71;
}

.nav-header ul {
  padding: 0 20px 20px;
}

.navlist-item {
  border-bottom: 2px solid white;
}

.navlist-item:first-child {
  border-top: 2px solid white;
}

.navlist-item:hover {
  background-color: #09c1b3;
  color: white;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

.visible {
  max-height: 250px;
}
/*end of header styling*/

.calxx-font {
  font-family: 'Quando', 'sans-serif';
}

/*info box*/
.info-section {
  background: url(../images/header-banner.jpg) center center no-repeat;
  background-size: cover;
  padding: 20% 10%;
  color: white;
}

.info-text {
  text-align: center;
}

.info-text h1 {
  padding: 80px 0 10px;
}

.info-text h3 {
  padding: 10px 0;
}

.infobox {
  border: 2px solid #fff;
  color: #fff;
  padding: 5%;
  margin: 25px auto;
}

.infobox h6 {
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.all-fields-req {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  color: white;
}

.form-textbox {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.form-submit-btn {
  font-size: 18px;
  border: none;
  padding: 3.5% 0;
  font-weight: bold;
  color: white;
  background-color: #09c1b3;
  display: block;
  width: 100%;
  outline: none;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 10px;
}

.form-submit-btn:hover {
  color: #09c1b3;
  background-color: white;
}
/*end of job search section*/

/*The services section*/
.services-layout {
  margin: 90px auto;
  width: 85%;
  text-align: center;
}

.services-layout-h2 {
  letter-spacing: 1px;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #757575;
}

.heading-separator {
  width: 60px;
  padding: 1px;
  background: #757575;
  margin: 20px auto 35px;
}

.adj {
  background-color: #fff;
}

.icons {
  background-color: #09c1b3;
  font-size: 25px;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 49px;
  margin: 20px auto;
}

.icons:hover {
  background-color: #272c2f;
}

.services-text {
  display: inline-block;
  width: 75%;
  margin-bottom: 25px;
}

.services-text h3 {
  margin-bottom: 15px;
}

.services-text a {
  text-decoration: none;
  color: inherit;
}

.services-text a:hover {
  color: #09c1b3;
}

.quote {
  background: url(../images/grey-background-img.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 90px 0;
}

.quote p {
  padding: 10px;
}

.quote i {
  margin: 15px 0;
  padding-right: 7.5px;
  color: #999;
  font-size: 36px;
}
/*end of quote and our services section*/

/*The blog section*/
.blog-heading {
  text-align: center;
  padding: 90px 25px 10px;
  color: #272c2f;
}

.blog-para {
  color: #272c2f;
  padding-top: 10px;
}

.the-blog {
  padding: 10% 5%;
}

.blog-image {
  position: relative;
}

.blog-snippet {
  position: relative;
  z-index: 1;
  margin: -30px 10px 30px;
  background-color: white;
  padding-left: 10px;
}

.blog-date {
  color: #a7a8b6;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 10px;
}

.blog-tags {
  color: #64a7fe;
  margin-top: 0;
  padding-top: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.blog-snippet-heading {
  padding: 10px 0;
}

.article-heading {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

.article-heading:hover {
  color: #09c1b3;
}

.blog-text {
  padding-bottom: 10px;
  color: #272c2f;
}

.read-more-link {
  text-decoration: none;
  color: #09c1b3;
  font-weight: bold;
  font-size: 13px;
}

.read-more-link:hover {
  color: #272c2f;
}

.read-more-link-adj {
  padding: 0;
}
/*end of the blog section*/

/*footer*/
footer {
  background-color: #272c2f;
  padding: 15px 0;
  text-align: center;
  color: #999;
}

.footer-container {
  margin: 50px 0;
}

.footer-container h4 {
  margin: 40px 0 18px;
  font-weight: bold;
}

.footer-container p {
  padding: 0 10px;
}

.email-wrapper {
  padding-top: 10px;
}

.email {
  text-decoration: none;
  color: inherit;
  padding-left: 10px;
}

.email-wrapper:hover {
  color: #09c1b3;
}

.social-media-div li {
  display: inline-block;
}

.social-media {
  color: #999;
}

.social-media i {
  width: 35px;
  height: 35px;
  line-height: 33px;
  text-align: center;
  /* border: 2px solid #999; */
  border-radius: 50%;
  margin-right: 10px;
  text-decoration: none;
}

.social-media i:hover {
  background-color: #09c1b3;
  color: white;
  cursor: pointer;
  border: none;
}

footer nav {
  margin: 10px 0;
  font-size: 12px;
}

footer ul {
  padding: 0 5px;
}

footer nav li {
  display: inline-block;
  margin-bottom: 5px;
}

footer nav li a {
  text-decoration: none;
  padding: 0 5px;
  color: #999;
}

footer nav li a:hover {
  color: #09c1b3;
}
/*end of footer styling*/

/*Cookies pop up styling*/
.cookies-popup-section {
  border-top: 1px solid #999;
  background-color: #272c2f;
  text-align: center;
  padding: 15px 10px;
  color: #999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.cookies-link {
  margin-left: 2.5px;
  text-decoration: none;
  color: #09c1b3;
}

.cookies-link:hover {
  color: #999;
}

.close-cookies-popup {
  background-color: #09c1b3;
  border: none;
  padding: 5px 15px;
  color: #fff;
  margin: 10px auto 0;
}

.close-cookies-popup:hover {
  background-color: #999;
}
/*End of cookies pop up styling*/

/*blog post styling*/
.post-header-section, .post-header-section-2, .post-header-section-job-alerts {
  background: url(../images/header-banner-minusguy.png) center center no-repeat;
  background-size: cover;
  padding: 40% 25%;
  color: white;
  text-align: center;
}

.main-container-blog, .main-container {
  width: 90%;
  margin: 0 auto;
}

.share-buttons-section {
  margin-bottom: 25px;
}

.share-buttons-inline {
  display: inline-block;
  margin-right: 5px;
}

.share-buttons-inline a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 2.5px 10px;
  border-radius: 2px;
}

.facebook-share {
  background-color: #3a579a;
}

.twitter-share-button {
  background-color: #00abf0;
}

.linked-in-share {
  background-color: #127bb6;
}

.blog-article-heading {
  margin: 1.5rem 0;
}

.blog-content img, .blog-content p {
  margin-bottom: 35px;
}

.blog-aside {
  padding: 10px;
  border-top: 1px solid #d5d7d8;
  border-bottom: 1px solid #d5d7d8;
}

.blog-aside-adj {
  padding: 35px 15px;
  font-size: 14px;
}

.blog-aside-section1 {
  margin-bottom: 15px;
}

.services-icon {
  background-color: #09c1b3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 12.5px;
  line-height: 24px;
  color: white;
  text-align: center;
  display: inline-block;
}

.services-icon:hover {
  background-color: #023d60;
}

.italics {
  font-style: italic;
}

.blog-aside-div {
  margin: 15px 0 15px 15px;
}

.blog-aside p {
  display: inline-block;
  margin: 5px 0 5px 15px;
}

.para-after-aside {
  margin-top: 35px;
}

ol {
  margin-bottom: 25px;
}

.blog-conclusion {
  border-top: 1px solid #d5d7d8;
  border-bottom: 1px solid #d5d7d8;
  margin-bottom: 75px;
  padding: 35px 25px;
}

.blog-conclusion p {
  font-size: 14px;
  line-height: inherit;
}

.bold-para {
  font-weight: bold;
}

.blog-conclusion a {
  text-decoration: none;
  color: #09c1b3;
}

.blog-conclusion a:hover {
  color: #023d60;
}

.blog-signup {
  margin: 50px 0px 100px;
  color: #272c2f;
  border: 1px solid #d5d7d8;
  padding: 7.5%;
  background-color: #F9F9F9;
}

.blog-signup h3 {
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}

.newsletter-signup {
  width: 225px;
  margin: 0 auto;
}

.newsletter-input-form {
  width: 185px;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.newsletter-btn {
  border: none;
  padding: 8.5px 0 9.5px;
  background-color: #09c1b3;
  color: white;
  width: 40px;
  display: inline-block;
  margin-left: -10px;
}

.newsletter-btn:hover {
  background-color: #525f71;
}

.related-articles-h4 {
  color: #272c2f;
  border-bottom: 1px solid #d5d7d8;
  padding-bottom: 15px;
}

.related-articles {
  border-bottom: 1px solid #d5d7d8;
  margin-top: 35px;
  padding-bottom: 15px;
}

.related-articles img {
  width: 75%;
}

.article-tagline {
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px 0;
  color: #64a7fe;
}

.additional-info-section {
  margin-top: 90px;
  padding: 25px;
  background-color: #09c1b3;
}

.featured-job-heading {
  font-weight: 600;
  color: #fff;
}

.featured-job {
  padding: 15px;
  margin-top: 20px;
  background-color: #11223e;
  border-radius: 5px;
  width: 100%;
}

.featured-jobs-link {
  text-decoration: none;
  color: #fff;
}

.featured-jobs-link:hover {
  color: #09c1b3;
}

.featured-job-title {
  font-size: 14px;
  margin-bottom: 5px;
  opacity: 0.98;
}

.featured-job-info {
  font-size: 12px;
  opacity: 0.98;
}
/*end of blog post styling*/

/*blog page styling*/
.blog-header-section {
  background: url(../images/our-blog-header.png) center center no-repeat;
  background-size: cover;
  padding: 40% 25%;
  color: white;
  text-align: center;
}

.main-container-blog {
  width: 90%;
  margin: 50px auto;
}

.separator {
  margin-left: 0;
  margin-right: 0;
}

.blog-categories {
  margin-top: 50px;
  border-bottom: 1px solid #d5d7d8;
}

.blog-categories h2 {
  color: #525f71;
}

.blog-categories-para {
  font-size: 17px;
}

.blog-wrapper {
  background-color: #F5F5F5;
  padding: 30px;
  width: 100%;
  margin: 20px 0 35px;
}

.blog-read-more-link {
  text-decoration: none;
  color: #09c1b3;
  font-weight: bold;
}

.blog-read-more-link:hover {
  color: #023d60;
}
/*end of blog page styling*/

/*privacy policy and terms and conditions styling*/
.privacy-policy h3, .privacy-policy p {
  padding: 20px 0;
}

.pptc-heading {
  margin: 50px 0 25px;
}

.terms-line-items li {
  list-style: circle;
  margin-left: 25px;
}

.terms-line-items {
  padding-bottom: 20px;
}
/*end of privacy policy and t&c's styling*/

/*Role page styling*/
.back-to-search-page {
  margin: 15px 0 0 15px;
  color: #525f71;
}

.back-to-search-page a {
  text-decoration: none;
}

.back-to-search-page a:hover {
  color: #09c1b3;
}

.facebook-share:hover, .twitter-share-button:hover, .linked-in-share:hover {
  background-color: #525f71;
}

.job-alert-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.job-alert-section-visible {
  max-height: 500px;
}

.job-alert-section-aside {
  margin: 10px 5px 0;
  padding: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  position: relative;
}

.job-alert-section-aside h3 {
  text-align: center;
}

.job-alert-input {
  width: 260px;
  margin: 10px auto 0;
  background-color: #323D4F;
  border: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  display: block;
  border-bottom: 1px solid #768A9D;
}

.job-alert-btn {
  width: 260px;
  background-color: #323D4F;
  padding: 10px;
  border: none;
  margin: 10px auto 25px;
  color: white;
  display: block;
}

.job-alert-btn:hover {
  background-color: white;
  color: #272c2f;
}

.role-container {
  width: 87.5%;
  margin: 0px auto 50px;
}

.job-title, .apply-now-heading {
  text-align: center;
}

.job-title {
  font-size: 46px;
  margin-top: 50px;
  color: #272c2f;
}

.company-info-sub {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 10px 20px 20px;
}

.company-img {
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.company-details-2 {
  display: inline-block;
  width: 100%;
}

.location-marker {
  color: #09c1b3;
  width: 100%;
}

.location-para-2 {
  display: inline-block;
  width: 90%;
  display: inline-block;
  font-size: 13px;
  margin-left: 3.25px;
}

.company-info-h3 {
  display: inline-block;
  width: 45%;
  font-size: 40px;
  margin-left: 20px;
  padding-top: 20px;
}

.company-info-h3-2 {
  font-size: 20px;
}

.company-info-about {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.company-info-heading {
  margin-bottom: 7.5px;
}

.company-info-sub-two {
  padding: 10px 20px 0;
}

.company-info-para {
  font-size: 14px;
  margin-bottom: 15px;
}

.social-media-section {
  background-color: #F9F9F9;
}

.company-social-media-links-ul {
  text-align: center;
  padding: 5px 0;
}

.company-social-media-links {
  display: inline-block;
  width: 15%;
  margin-right: 5px;
}

.social-media-role {
  color: #09c1b3;
}

.social-media-role i {
  width: 35px;
  height: 35px;
  line-height: 33px;
  margin-right: 10px;
  text-decoration: none;
}

.social-media-role i:hover {
  background-color: #525f71;
  cursor: pointer;
  border: none;
}

.shortcut-buttons {
  display: inline-flex;
}

.shortcut-apply {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  margin: 0px 3px 30px 0;
  border-radius: 2px;
  color: #09c1b3;
  border: 1px solid #09c1b3;
}

.facebook-btn:hover, .job-alerts-btn:hover, .apply-btn:hover {
  background-color: #09c1b3;
  color: #fff;
  border: none;
}

.role-heading {
  margin-bottom: 40px;
}

.role-information h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.role-descrip-intro {
  margin-bottom: 10px;
}

.key-requirements, .role-descrip {
  margin-bottom: 40px;
}

.role-descrip {
  padding-bottom: 15px;
}

.key-requirements h5, .role-descrip h5, .location h5 {
  padding-bottom: 12.5px;
  border-bottom: 1px solid #cfd2d6;
}

.role-descrip p {
  padding-top: 12.5px;
}

.the-perks {
  margin-top: 10px;
}

.key-req-li-container {
  margin-left: 10px;
}

.key-requirements-li {
  padding: 10px 0;
}

.key-requirements-li i {
  color: #525f71;
  display: inline-block;
  width: 15%;
}

.key-requirements-text {
  vertical-align: middle;
  display: inline-block;
  width: 75%;
  font-size: 14px;
}

.key-skills {
  margin: 5px 0 0 25px;
}

.job-alerts {
  width: 200px;
  padding: 7.5px 10px 7.5px 0;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.job-alerts:hover {
  color: #09c1b3;
  border-color: #09c1b3;
}

.job-alerts span {
  border-right: 1px solid #fff;
  padding: 12px 10px 18px 6px;
}

.job-alerts span {
  border-right: none;
}

.job-alerts p {
  display: inline-block;
  margin-left: 10px;
}

.location {
  margin-bottom: 40px;
}

#map {
  width: 100%;
  height: 250px;
}

.application-section {
  margin: 50px 0;
}

.close-job-alerts {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.apply-now {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  width: 100%;
  margin-bottom: 100px;
}

.apply-now-heading {
  text-align: center;
  background-color: #09c1b3;
  padding: 25px;
  color: white;
}

.application-form {
  padding: 20px 25px 25px;
}

.apply-input-form {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.text-style {
  font-size: 12px;
}

fieldset {
  margin-bottom: 10px;
}

.apply-now-para {
  padding: 10px 0;
  font-size: 14px;
}

textarea {
  min-height: 150px;
  width: 100%;
  margin-bottom: 5px;
}

.select-box-application {
  width: 60%;
  padding: 5px;
}

.terms {
  margin-top: 25px;
  text-align: center;
}

.button-fieldset {
  background-color: #525f71;
  padding: 25px;
  margin-bottom: 0;
}

.holding-block {
  float: left;
  height: 20px;
}

.apply-now-button {
  width: 75px;
  padding: 10px;
  background-color: #09c1b3;
  color: #fff;
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 2px;
  float: right;
}

.apply-now-button:hover {
  background-color: #fff;
  color: #09c1b3;
}

.error {
  display: block;
  color: #09c1b3;
  font-size: 12px;
  margin-top: 5px;
  clear: both;
}

.success-header {
  text-align: center;
  color: #09c1b3;
  font-size: 36px;
  margin: 50px 0;
}

.success {
  text-align: center;
  padding: 20px 20px 0;
  color: #09c1b3;
}
/*end of role page styling*/

/*search page styling*/
.post-header-section-2 {
  padding: 20% 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: grey;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;
  display: none;
}

.popup {
  position: relative;
  cursor: pointer;
}

.popup-text {
  visibility: hidden;
  width: 300px;
  background-color: #09c1b3;
  text-align: center;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-text h4 {
  margin-top: 20px;
  color: white;
}

.show {
  visibility: visible;
  animation: fadeIn 1s;
}

.links {
  margin-top: 10px;
}

.search-criteria-para {
  width: 80%;
  margin: 20px auto 0;
}

.role-container-search-page {
  width: 85%;
  margin: 50px auto;
}

.job-card {
  text-decoration: none;
  display: block;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  margin-bottom: 35px;
  width: 100%;
  color: inherit;
}

.key-info-container {
  margin: 0 20px;
  /* border-bottom: 1px solid grey; */
  padding: 10px 0;
}

.company-logo-rec {
  max-height: 150px;
  max-width: 125px;
}

.company-logo-square {
  height: 60px;
  width: 60px;
}

.company-details {
  margin-top: 7.5px;
}

.job-title-search {
  font-size: 18px;
  padding-bottom: 5px;
}

.company-title-search {
  font-size: 14px;
  color: grey;
}

.heading-separator-2 {
  width: 60px;
  padding: 1px;
  background: #757575;
  margin-left: 20px;
}

.key-requirements-container {
  padding: 10px 20px 15px;
  font-size: 15px;
  color: #525f71;
  margin-bottom: 10px;
}

.location-marker-search {
  width: 10%;
  display: inline-block;
  text-align: center;
}

.location-para {
  display: inline-block;
  width: 80%;
  margin-left: 3.25px;
  font-size: 13px;
}
/*end of search page styling*/

/*job alerts page styling*/
.post-header-section-job-alerts {
  padding: 20% 10%;
}

.combination-layout {
  margin: 90px auto;
  width: 85%;
}

.text-align-blog {
  text-align: left;
}

.first-column {
  border-bottom: 1px solid #cfd2d6;
}

.article-subheading {
  margin: 40px 0 20px;
}
/*end of job alerts page styling*/

/*Blank search page*/
.home-page {
  margin-left: 10px;
  text-decoration: none;
  color: #09c1b3;
  font-size: 20px;
}

.home-page:hover {
  color: #525f71;
}

.no-jobs-page {
  padding: 25% 15% 50%;
}

.no-jobs-page h2 {
  text-align: center;
}

.job-alerts-signup-2 {
  color: #09c1b3;
  border-color: #09c1b3;
}

/*end of blank search page styling*/

/*unsubscribe page styling*/
.unsubscribe-page-styling {
  width: 70%;
  margin: 25px auto;
}

.unsubscribe-para {
  margin: 15px 0;
}

.unsubscribe-btn {
  width: 100%;
}

.unsubscribe-btn:hover {
  background-color: #09c1b3;
  color: white;
}

.unsubscribe-image, .unsubscribe-text {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.unsubscribe-text {
  width: 65%;
  margin-left: 10px;
}

.calxx-description, .poll-form {
  margin-top: 50px;
}

.poll-selection {
  width: 100%;
  padding: 5px;
}
/*end of unsubscribe page styling*/


/*404 error page styling*/
.error404-section {
  margin: 80px auto 120px;
  width: 80%;
  text-align: center;
}

.error404 {
  font-size: 150px;
  color: #09c1b3;
}

.error404-link {
  margin: 40px 0;
  display: block;
  text-decoration: none;
  color: #09c1b3;
}
/*end of 404 error page styling*/

@media (min-width: 480px) { /* mobile-landscape */
  main {
    margin: 0 auto;
  }

  .info-section, .post-header-section-job-alerts {
    padding: 15% 10%;
  }

  .infobox {
    width: 80%;
  }

  .info-text h1 {
    padding-top: 40px;
  }

  .services-text {
    width: 85%;
  }

  .quote p {
    padding: 0 30px;
  }

  .blog-para {
    padding: 10px 30px 0;
  }

  .blog-snippet {
    margin-bottom: 40px;
  }

  .about-us-div p {
    padding: 0 30px;
  }

  /*blog page styling*/
  .blog-header-section, .post-header-section {
    padding: 27.5% 10%;
  }

  .main-container-blog, .main-container {
    width: 80%;
  }

  .blog-signup {
    margin: 50px 0px;
    padding: 7.5%;
  }

  .blog-read-more-link {
    width: 20%;
  }
  /*end of blog page styling*/

  /* blog post page styling */
  .additional-info-section {
    padding: 25px 50px;
  }
  /* end of blog post page styling */

  /*page template styling*/
  .related-articles img {
    width: 65%;
  }
  /*end of page template styling*/

  /*role page styling*/
  .back-to-search-page {
    width: 40%;
  }

  .job-alert-section-aside {
    width: 65%;
    margin: 40px auto 0;
  }

  .role-container {
    width: 75%;
  }

  .company-info {
    padding: 10px;
  }

  .company-info-h3 {
    margin-left: 30px;
  }

  .company-social-media-links {
    margin-right: 0;
  }

  .shortcut-apply {
    padding: 5px 12.5px;
    margin-right: 10px;
    width: 125px;
  }

  .key-requirements-li {
    display: inline-block;
    width: 45%;
    margin-left: 12.5px;
  }

  .application-form {
    padding: 20px 35px 25px;
  }
  /*end of role page styling*/

  /*search page styling*/
  .post-header-section-2 {
    padding: 10% 0;
  }

  .role-container-search-page {
    width: 60%;
  }
  /*end of search page stling*/

  /*unsubscribe page styling*/
  .unsubscribe-page-styling {
    width: 50%;
  }
  /*end of unsubscribe page styling*/
}

@media (min-width: 650px) { /* tablet-portrait */
  .nav-icon {
    display: none;
  }

  .nav-header {
    max-height: none;
    float: right;
    clear: none;
    font-size: 17px;
    padding: 20px 10px 7.5px;
    background-color: inherit;
  }

  .nav-header ul {
    padding: 0;
  }

  .navlist-item {
    display: inline-block;
  }

  .navlist-item, .navlist-item:first-child {
    border: none;
  }

  .navlist-item:hover {
    background-color: inherit;
  }

  .nav-link {
    color: inherit;
  }

  .nav-link:hover {
    color: #09c1b3;
  }

  .info-section {
    padding: 10%;
  }

  .infobox {
    width: 100%;
    padding: 3% 1%;
  }

  .infobox h6 {
    margin-bottom: 0;
  }

  .form-textbox {
    margin-bottom: 0;
  }

  .form-align-dropdown-box {
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin-left: 7.5px;
  }

  .form-submit-btn {
    width: 47%;
    display: inline-block;
    padding: 17.5px 0px;
    margin: 0 7.5px 0;
    vertical-align: top;
  }

  .services-layout {
    width: 75%;
  }

  .blog-section {
    width: 87.5%;
    margin: 0 auto;
  }

  .the-blog {
    padding: 5%;
  }

  .blog-para {
    padding: 20px 30px;
  }

  .blog-snippet {
    margin-bottom: 65px;
  }

  .about-us-div p {
    padding: 0 50px;
  }

  /*blog page styling*/
  .main-container-blog {
    width: 70%;
  }

  .blog-header-section {
    padding: 20%;
  }

  .blog-signup {
    margin: 50px 10px;
    padding: 5% 7.5%;
  }

  .blog-read-more-link {
    width: 35%;
  }

  .form-style {
    margin: 0 auto;
    width: 80%;
  }

  .newsletter-signup {
    width: 300px;
  }

  .newsletter-input-form {
    width: 250px;
  }
  /*blog page styling*/

  /*blog post styling*/
  .main-container {
    width: 75%;
  }

  .post-header-section {
    padding: 15%;
  }

  .related-articles img {
    width: 47.5%;
    display: inline-block;
  }

  .related-articles div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: 7.5px;
  }

  .article-tagline {
    padding-top: 0;
  }

  .blog-aside-row {
    display: inline-block;
    width: 45%;
  }

  .services-icon {
    width: 35px;
    height: 35px;
    font-size: 17.5px;
    line-height: 34px;
  }

  .blog-aside p {
    margin: 5px 0 20px 7.5px;
  }

  .blog-aside-div {
    margin-bottom: 0px;
  }

  .additional-info-section {
    padding: 25px;
  }

  .container-additional-info-section {
    vertical-align: top;
    width: 47.5%;
    margin-right: 10px;
  }
  /*end of blog post styling*/

  /*role page styling*/
  .back-to-search-page {
    width: 32.5%;
    margin-left: 20px;
    margin-right: 0;
  }

  .company-info-h3 {
    width: 40%;
    margin-left: 5px;
  }

  .company-details-2 {
    width: 100%;
  }

  .company-social-media-links {
    margin-right: 7.5px;
  }

  .role-information h3 {
    margin-top: 0;
  }

  .application-form {
    padding: 25px 50px 40px;
  }
  /*end of role page styling*/

  /*search page syling*/
  .post-header-section-2 {
    padding: 7.5% 0 15%;
  }

  .job-alerts {
    float: right;
    margin-right: 20px;
    margin-top: 0;
  }

  .role-container-search-page {
    width: 90%;
  }

  .job-card {
    width: 45%;
    margin: 0 13.5px 35px;
    display: flex;
  }

  .flex-item1 {
    flex: 2 1 175px;
  }

  .flex-item2 {
    flex: 1 1 100px;
  }
  /*end of serach page styling*/

  /*job alerts page styling*/
  .post-header-section-job-alerts {
    padding: 10%;
  }

  .job-alerts-page-box {
    width: 100%;
  }

  .left-align-box, .right-align-box {
    width: 45%;
    display: inline-block;
    margin: 0 10px 15px 0;
  }

  .job-alert-button {
    padding: 10px 0;
    margin-bottom: 10px;
  }

  .combination-layout {
    width: 70%;
  }
  /*end of job alerts page styling*/
}


@media (min-width: 940px) { /* tablet-landscape/smaller laptops */
  .nav-header {
    font-size: 18px;
  }

  .info-section {
    padding: 12.5% 15% 7.5%;
  }

  .info-text h1 {
    padding-top: 20px;
  }

  .services-text {
    width: 80%;
  }

  .blog-section {
    width: 100%;
  }

  .the-blog {
    padding: 2.5% 5%;
  }

  .blog-para {
    padding: 20px 100px;
  }

  .blog-align, .footer-align {
    display: inline-block;
    width: 31.5%;
    margin-left: 12.5px;
  }

  .flex-item {
    flex: 1 1 auto;
  }

  .flex-items {
    flex: 2 1 125px;
  }

  .footer-align {
    vertical-align: top;
  }

  /*blog page styling*/
  .blog-header-row {
    display: inline-block;
  }

  .container-two {
    float: right;
  }

  .blog-header-section {
    padding: 12.5%;
  }

  .header-blog-page {
    margin-bottom: 60px;
  }

  .blog-categories:first-child {
    margin-top: 0;
  }

  .blog-categories:last-child {
    margin-bottom: 90px;
  }

  .blog-wrapper {
    width: 33.33333%;
    display: flex;
    margin-right: 30px;
  }

  .blog-signup {
    margin: 0;
  }

  .blog-read-more-link {
    width: 32.5%;
  }

  .form-style {
    width: 100%;
  }

  .newsletter-signup {
    width: 180px;
  }

  .newsletter-input-form {
    width: 145px;
  }

  .newsletter-btn {
    padding-bottom: 9px;
  }
  /*end of blog page styling*/

  /*blog post styling*/
  .post-header-section {
    padding: 10%;
  }

  .main-container, .main-container-blog {
    width: 90%;
    margin: 90px auto;
  }

  .container-one, .container-two {
    width: 65%;
    display: inline-block;
    vertical-align: top;
  }

  .blog-conclusion {
    margin-bottom: 0;
  }

  .container-two {
    width: 34.5%;
  }

  .blog-article-heading {
    margin-top: 0;
  }

  .blog-signup, .related-articles-wrapper {
    margin-left: 60px;
  }

  .related-articles-wrapper {
    margin-top: 75px;
  }

  .related-articles img, .related-articles div {
    display: block;
    width: 100%;
  }

  .article-tagline {
    padding-top: 10px;
  }

  .additional-info-section {
    margin-top: 0;
  }

  .container-additional-info-section {
    width: 32%;
  }
  /*end of blog post styling*/

  /*role page styling*/
  .back-to-search-page {
    width: 20%;
    margin-left: 30px;
  }

  .job-alerts {
    margin-right: 30px;
  }

  .job-alert-section-aside {
    padding: 10px 20px 15px;
  }

  .role-container {
    width: 92.5%;
    margin-top: 40px;
  }

  .apply-now {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  }

  .company-info, .role-information {
    display: inline-block;
    vertical-align: top;
    width: 60%;
  }

  .company-info {
    width: 33%;
    margin-right: 25px;
  }

  .company-info-h3 {
    margin-left: 20px;
  }

  .application-section {
    margin: 75px 0;
  }

  .application-form {
    padding: 25px 80px 40px;
  }

  .adj-940px, .adj-940px-2 {
    display: inline-block;
    width: 47.5%;
  }

  .adj-940px-2 {
    margin-left: 12.5px;
  }
  /*end of role page styling*/

  /*search page styling*/
  .search-criteria-para {
    width: 87%;
  }

  .job-card {
    width: 30%;
  }
  /*end of search page styling*/

  /*job alerts page styling*/
  .post-header-section-job-alerts {
    padding: 10% 10% 7.5%;
  }

  .left-align-box, .right-align-box {
    width: 18.25%;
  }

  .job-alert-button {
    width: 17.5%;
    padding: 5.75px 0;
    margin-left: 0;
  }

  .all-fields-req {
    padding: 0 75px;
  }

  .combination-layout {
    width: 95%;
  }

  .first-column, .second-column {
    width: 37.5%;
    display: inline-block;
    vertical-align: top;
    border-bottom: none;
  }

  .second-column {
    margin-left: 125px;
  }

  .article-subheading {
    margin-top: 0;
  }

  .margin-adjustment {
    margin-bottom: 0;
  }
  /*end of job alerts page styling*/

  /*Blank search page*/
  .home-page {
    margin-left: 30px;
  }

  .no-jobs-page {
    padding: 15% 15% 25%;
  }
  /*End of blank page styling*/

  /*unsubscribe page styling*/
  .unsubscribe-page-styling {
    width: 30%;
  }
  /*end of unsubscribe page styling*/
}

@media (min-width: 1220px) { /* laptops/desktops */
  .logo-header {
    width: 125px;
    padding-top: 10px;
    margin-left: 25px;
  }

  header h1 {
    margin-left: 25px;
  }

  .nav-header {
    margin-right: 25px;
  }

  .info-section, .post-header-section-job-alerts {
    padding: 7.5% 10% 5%;
  }

  .infobox {
    width: 55%;
    padding: 1%;
  }

  .blog-heading p {
    padding: 0 150px;
  }

  .blog-align {
    width: 27%;
    margin-right: 50px;
  }

  .the-blog {
    padding: 2.5% 7.5%;
  }

  /*blog page styling*/
  .main-container, .main-container-blog {
    width: 80%;
  }

  .container-two {
    width: 27.5%;
    margin-left: 50px;
  }

  .blog-header-section {
    padding: 12.5% 5%;
  }

  .blog-read-more-link {
    width: 25%:
  }
  /*end of blog page styling*/

  /*blog post page styling*/
  .post-header-section {
    padding: 10%;
  }

  .related-articles img {
    width: 75%;
  }

  .container-additional-info-section {
    width: 30%;
    margin-left: 15px;
  }

  /* end of blog post styling */

  /*role page styling*/
  .back-to-search-page {
    margin-left: 50px;
  }

  .role-container {
    width: 80%;
  }

  .company-info {
    margin-right: 65px;
  }

  .company-info-h3 {
    margin-left: 35px;
  }

  .company-social-media-links {
    margin-right: 0;
  }

  .role-information {
    width: 55%;
  }

  .application-section {
    width: 90%;
  }
  /*end of role page styling*/

  /*search page styling*/
  .post-header-section-2 {
    padding: 5% 0 10%;
  }

  .job-alerts {
    margin-right: 45px;
  }

  .job-card {
    width: 20%;
    margin: 0 20px 35px;
  }
  /*end of search page styling*/

  /*job alerts page styling*/
  .job-alerts-infobox {
    width: 100%;
  }

  .left-align-box, .right-align-box {
    width: 20%;
  }

  .job-alert-button {
    width: 12.5%;
  }

  .first-column, .second-column {
    width: 30%;
  }

  .second-column {
    margin-left: 175px;
  }
  /*end of job alerts page styling*/

  /*Blank search page*/
  .no-jobs-page {
    padding: 10% 15% 15%;
  }
  /*End of blank page styling*/

  /*unsubscribe page styling*/
  .unsubscribe-page-styling {
    width: 20%;
  }
  /*end of unsubscribe page styling*/
}

@media (min-width: 1600px) { /* laptops/desktops */
  .logo-header {
    width: 140px;
    margin-left: 40px;
  }

  header h1 {
    margin-left: 40px;
  }

  .nav-header {
    margin-right: 50px;
    padding-top: 25px;
    font-size: 20px;
  }

  .info-section {
    padding: 10% 10% 5%;
  }

  .blog-heading p {
    padding: 0 250px;
  }

  .blog-align {
    width: 25%;
    margin-right: 35px;
    margin-left: 75px;
  }

  /*blog page styling*/
  .main-container, .main-container-blog {
    width: 70%;
  }

  .container-one {
    width: 55%;
  }

  .container-two {
    width: 25%;
    margin-left: 150px;
  }

  .blog-header-section {
    padding: 12.5% 5%;
  }

  .align-left {
    width: 25%;
  }

  .blog-read-more-link {
    width: 27.5%;
  }
  /*end of blog page styling*/

  /*blog post page styling*/
  .post-header-section {
    padding: 7.5%;
  }

  .related-articles img {
    width: 65%;
  }

  /*role page styling*/
  .role-container {
    width: 70%;
  }

  .apply-now {
    width: 90%;
  }

  .company-info {
    width: 25%;
  }
  /*end of role page styling*/

  /*job alerts page styling*/
  .post-header-section-job-alerts {
    padding: 7.5% 15% 5%;
  }

  .combination-layout {
    width: 75%;
  }
  /*end of job alerts page styling*/

  /*unsubscribe page styling*/
  .unsubscribe-page-styling {
    width: 10%;
  }
  /*end of unsubscribe page styling*/
}
