RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_fileNAME} !-d
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteRule (.*) /$1.html [L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+)\.html\ HTTP

Options +FollowSymLinks
RewriteRule ^index.*$ http://www.calxx.co.uk/ [R=301,L]

ErrorDocument 404 http://www.calxx.co.uk/error404
